* {
    /* outline: 1px solid rgb(0, 0, 0); */
    font-family: Verdana, sans-serif;
    margin: 0px;
}

body {
    display: grid;
    margin-bottom: 100px;
}

.title {
    display: inline-block;
    margin: auto;
    width: 100%;
    background-color: rgb(227, 178, 97);
    color: rgb(0, 0, 0);

}

#title {    
    margin: auto;
    padding: 20px;
    text-align: center;
}

.home {
    background-color: rgb(0, 0, 0);
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn {
    padding: 10px;
    width: 100px;
    font-weight: 700;
}

.image {
    display: grid;
    margin: auto;
    padding: 20px;
    width: 100%;
}

img {
    display: grid;  
    margin: auto;
}

.content {
    display: inline-block;
    margin-left: 400px;
    margin-right: 400px;
    /* border: 2px solid; */
    margin-bottom: 25px;
}
