* {
    outline: 0px solid rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
    max-inline-size: 1000px;
    margin: auto;
}

.title {
    display: block;
    background-image: url("../images/sinigang-372.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 150px;
    border: 3px solid rgb(0, 0, 0);
}

.title1 {
    background-image: url("../images/mechado-filipino-beef-stew-034.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 150px;
    border: 3px solid rgb(0, 0, 0);
}

.title2 {
    background-image: url("../images/filipino-adobo-426.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 150px;
    border: 3px solid rgb(0, 0, 0);
}

.btn {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin: 10px;
}

.content {
    display: block;
    margin: 0px 100px 0px 100px;
    line-height: 20px;
}