*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    /* outline: 1px solid black; */
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
}

.wrapper {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #fff;
}

.container {
    display: grid;
    margin: auto;
    border: 4px solid #000;
}

.image-sinigang {
    display: inline-block;
    background-image: url("../images/sinigang-372.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #000;
}

.image-mechado {
    display: inline-block;
    background-image: url("../images/mechado-filipino-beef-stew-034.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #000;
}

.image-adobo {
    display: inline-block;
    background-image: url("../images/filipino-adobo-426.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    border-bottom: 4px solid #000;
}

.title {
    display: grid;
    margin-top: 110px;
    padding: 10px;
}

.btn {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 15px 25px 15px 25px
}

.content {
    display: grid;
    margin: 20px 60px 20px 60px;
    /* border: 4px solid #000; */
    /* line-height: 18px; */
}

p,
ul,
ol {
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
    line-height: 25px;
}

li {
    margin-top: 2px;
    margin-bottom: 2px;
}