* {
    outline: 0px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
    max-inline-size: 1000px;
    margin: auto;
    max-width: 100%;
    box-sizing: content-box;
}

.container {
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
}

#title {
    padding: 20px;
    font-size: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); 
    display: block;
    margin: auto;
}

.title {
    display: block;
    text-align: center;
}

.span {
    color: rgb(227, 178, 97);
}

.recipe-list {
    display: grid;
    padding-bottom: 50px;
}

a {
    color: rgb(255, 255, 255);
}

.list {
    margin: auto;
}

.recipe {
    padding: 15px;
    font-size: 30px;
    font-weight: 500;
}

li::marker {
    color: rgb(227, 178, 97);
}