*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #333;
}

.container {
    display: grid;
    width: 600px;
    /* padding: 5px; */
    background-color: #fff;
    border: 4px solid #000;
}

.title {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 3px solid #000;
}

.span {
    color: #e3b261;
}

.recipe-list {
    border: 3px solid #000;
}

.list {
    padding-top: 20px;
    padding-bottom: 20px;
}

.recipe {
    display: block;
    font-size: 35px;
    text-align: center;
    padding: 20px;
}